html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* 

// orig FE boilerplate styles

body {
  padding: 90px;
  background-color: $ltGray;
  color: $black;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;

  @media #{$mq-1000-up} {
    padding: 1.5rem;
  }
}

main {
  padding: 20px;
  background-color: $white;
  border-radius: 15px;
  max-width: 1200px;
  margin: 0 auto;

  @media #{$mq-1000-up} {
    display: flex;
    padding: 1.5rem;
  }
}

.content {
  @media #{$mq-1000-up} {
    flex: 3;
  }
}

aside {
  @media #{$mq-1000-up} {
    flex: 1;
  }
}
 */

// resets

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  // background: lightgrey;
  font-family: 'Roboto', sans-serif;
  line-height: 1.45;
}

.header {
  width: 100vw;
  color: $white;
}

.header-top {
  // width: 414px;
  // height: 70px;
  // width: 100%;
  padding: 15px 0;
  display: flex;
  background: $grey4;

  // & * {
  //   flex: 1;
  // }

  // & .logo {
  //   flex: 1;
  // }
}

.logo-container {
  width: 100%;
  // background: teal;
  display: flex;
  justify-content: center;
  // order: 1;
}

.logo-link {
  display: block;
}

.logo {
  width: 178px;
  height: 40px;

  @media #{$mq-620-up} {
    width: 200px;
    height: 45px;
  }
}

.primary-menu-container {
  width: 79px;
  // width: 100%;
  margin-top: 11px;
  margin-right: 20px;
  // background: goldenrod;
  // text-align: right;
  display: flex;
  // order: -1;
  flex-direction: column;
  align-items: flex-end;
  // margin-left: auto;
}

.primary-menu__item a {
  font-size: 14px;
  width: 79px;
  height: 36px;
  color: $white;
  display: inline-block;
  text-align: center;
  padding: 9px 11px 6px;
  border: 1px solid $colourPrimary;
  border-radius: $borderRadius;
  cursor: pointer;
  background-color: $colourPrimary;

  // transition: background 0.2s ease-out;
  // &:hover {
  //   background-color: scale-color($colourPrimary, $lightness: 70%);
  // }

  &.log-in {
    color: $colourPrimary;
    background: $black;
  }
}

.menu-burger {
  display: block;
  width: 32px;
  height: 20px;
  position: relative;
  user-select: none;
  z-index: 20;
  background: orangered;
  background: transparent;
  border: none;
  cursor: pointer;
  border: none;
  margin: 0;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  @media #{$mq-620-up} {
    display: none;
  }

  & span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: $white;
    // opacity: 1;
    left: 0;
    // transform: rotate(0deg);
    // transition: 0.25s ease-in-out;
  }

  & span:nth-child(1) {
    top: 0px;
  }

  & span:nth-child(2) {
    top: 8px;
  }

  & span:nth-child(3) {
    top: 16px;
  }
}

.hero {
  // background: $grey1;
  background: url(../dist/images/lake-1x.jpg) center no-repeat;
  height: 298px;

  @media #{$mq-620-up} {
    background: url(../dist/images/lake-2x.jpg) center no-repeat;
  }
}

// basic button styling, so easy to see for now

.filter-button-group {
  padding: 0.5rem;
}
.btn-filter {
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  background: white;
  border: 0;
  cursor: pointer;
}
