html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// resets

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.45;
}

.header {
  width: 100vw;
  color: $white;
}

.header-top {
  height: 70px;
  display: flex;
  align-items: center;
  background: $grey4;

  @media #{$mq-620-up} {
    justify-content: space-between;
  }
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$mq-620-up} {
    margin-left: 30px;
    width: auto;
    display: block;
  }
}

.logo-link {
  display: block;
}

.logo {
  width: 178px;
  height: 40px;
  vertical-align: bottom;

  @media #{$mq-620-up} {
    width: 200px;
    height: 45px;
  }
}

.primary-menu-container {
  position: relative;
  width: 79px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media #{$mq-620-up} {
    position: static;
    width: auto;
    z-index: 0;
    height: auto;
    text-align: initial;
    display: block;
    padding-right: 0;
    margin-right: 30px;
  }
}

.primary-menu {
  position: absolute;
  display: block;
  height: 115px;
  background: #1c232e;
  width: 100vw;
  right: 0;
  z-index: 10;
  text-align: right;
  top: 45px;
  display: block;
  padding-right: 20px;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.2s ease-in;

  @media #{$mq-620-up} {
    // 620up is when burger hidden
    // reset mobile styles
    position: static;
    width: auto;
    transform: translate3d(0, 0, 0);
    z-index: 0;
    height: auto;
    text-align: initial;
    display: flex;
    padding-right: 0;
  }

  &.active {
    transform: translate3d(0, 0, 0);
  }
}

.primary-menu__item a {
  font-size: 14px;
  line-height: 1.2;
  width: 79px;
  height: 36px;
  color: $white;
  display: inline-block;
  text-align: center;
  padding: 9px 11px 6px;
  border: 2px solid $colourPrimary;
  border-radius: $borderRadius;
  cursor: pointer;
  background-color: $colourPrimary;

  // transition: background 0.2s ease-out;
  // &:hover {
  //   background-color: scale-color($colourPrimary, $lightness: 70%);
  // }

  &.sign-up {
    margin-bottom: 15px;

    @media #{$mq-620-up} {
      margin-bottom: 0;
    }
  }

  &.log-in {
    color: $colourPrimary;
    background: $black;
  }
}

@media #{$mq-620-up} {
  .primary-menu__item:first-child {
    margin-right: 12px;
  }
}

.menu-burger {
  display: block;
  width: 32px;
  height: 20px;
  position: relative;
  user-select: none;
  z-index: 20;
  background: orangered;
  background: transparent;
  border: none;
  cursor: pointer;
  border: none;
  margin: 0;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  @media #{$mq-620-up} {
    display: none;
  }

  & span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: $white;
    // opacity: 1;
    left: 0;
    // transform: rotate(0deg);
    // transition: 0.25s ease-in-out;
  }

  & span:nth-child(1) {
    top: 0px;
  }

  & span:nth-child(2) {
    top: 8px;
  }

  & span:nth-child(3) {
    top: 16px;
  }
}

.hero {
  position: relative;
  background: url(../dist/images/lake-m1x.jpg) center no-repeat;
  background-color: $grey3;
  background-color: #dddddd;
  background-blend-mode: multiply;
  height: 298px;

  @media #{$mq-900-up} {
    background: url(../dist/images/lake-d1x.jpg) center no-repeat;
  }

  &__inner {
    position: absolute;
    top: 30px;
    left: 15px;
    right: 15px;

    @media #{$mq-540-up} {
      top: 60px;
    }

    @media #{$mq-620-up} {
      top: 60px;
    }

    @media #{$mq-760-up} {
      max-width: 600px;
    }

    @media #{$mq-900-up} {
      max-width: 765px;
    }
  }

  & h1 {
    margin-bottom: 12px;
  }

  & h2 {
    font-size: 18px;
    line-height: 1.5;

    @media #{$mq-1000-up} {
      font-size: 24px;
      line-height: 1.3;
    }
  }
}

.btn-cta {
  font-size: 15px;
  font-weight: 500;
  color: $white;
  display: inline-block;
  text-align: center;
  padding: 0.75rem 1.5rem;
  border: 1px solid $colourPrimary;
  border-radius: $borderRadius;
  cursor: pointer;
  background-color: $colourPrimary;
}

.main {
  min-width: 384px;
  margin: 0 15px;
}

.filter-button-group {
  margin: 19px 0 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$mq-540-up} {
    justify-content: flex-start;
  }
}
.btn-filter {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  border-bottom: 3px solid transparent;

  @media #{$mq-540-up} {
    margin-right: 26px;
  }

  @media #{$mq-620-up} {
    margin-right: 52px;
  }

  &.is-checked {
    border-bottom: 3px solid $colourPrimary;
  }
}

.course {
  animation: fadein 1.5s;

  & img {
    margin-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 16px;
  }

  &__price {
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 64px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-load-more {
  font-size: 14px;
  line-height: 1.2;
  color: $colourPrimary;
  display: block;
  text-align: center;
  padding: 8px 15px 8px;
  border: 2px solid $colourPrimary;
  border-radius: $borderRadius;
  background-color: transparent;
  margin: 69px auto;
  cursor: pointer;

  &.is-hidden {
    display: none;
  }

  &[disabled] {
    color: $grey3;
    border-color: $grey3;
    cursor: default;
  }
}

.secondary-menu {
  margin-bottom: 68px;

  &__item-container {
    border-bottom: 1px solid $grey1;

    &:last-child,
    &:nth-last-child(2) {
      border-bottom: none;
    }

    &--special {
      border-top: 1px solid $colourPrimary;

      & .secondary-menu__item a {
        color: $colourPrimary;
      }
    }
  }

  &__item {
    margin-left: 30px;
  }

  &__item a {
    display: inline-block;
    padding: 9px 0;
    color: $black;
    line-height: 1.2;
  }
}

.footer {
  background: $grey4;
  color: $white;
  font-size: 14px;
  line-height: 1.57;
}

.footer-inner {
  max-width: 285px;
  margin: 0 auto;
  padding: 32px 0 0;
  text-align: center;
}

.footer-links {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    border-right: 1px solid $grey1;
    padding: 0 20px;
  }

  &__item a {
    color: $white;
  }
}

.company {
  margin: 0;
}
