h1 {
  font-weight: 700;
  margin-top: 0px;
}

h2,
h3 {
  font-weight: 500;
  margin-top: 0px;
}

h1 {
  font-size: 36px;
  line-height: 1.2;

  @media #{$mq-1000-up} {
    font-size: 48px;
    line-height: 1.1;
  }
}
